<%- include("partials/header") %>
<div>
    <h1><%= result.rollno %></h1>
    <h2 ><%= result.name %></h2>
    <h3><%= result.branch %></h3>
    <h3><%= result.mobile %></h3>
</div>
<%- include("partials/footer") %>